@import url('layout.css');
@import url('auth.css');
@import url('chat.css');
@import url('profile.css');
@import url('error.css');

.noselect,
.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.main .landing-wrapper {
	height: 100vh;
}
.main .landing-wrapper .hub {
	padding: 30vh 0 50vh;
	text-align: center;
}
.main .landing-wrapper .hub h2 {
	margin: 0;
	font-size: 20vh;
	line-height: 20vh;
	color: rgba(72, 27, 127, 0.3);
}